body {
  font-family: 'Ubuntu', sans-serif;
  color: #343a40 !important;
  background-color: #e9ecef;
}

.h-100vh {
  height: 100vh;
}

.text-28 {
  font-size: 1.3rem;
}

.text-36 {
  font-size: 1.5rem;
  font-weight: 600;
}

.primary-color {
  background-color: #58D7BC;
}

.text-primary {
  color: #212529 !important;
}

.brand-name {
  font-size: 1.2rem;
  margin: 0;
}
